*{
  margin: 0;
  box-sizing: border-box;
}
body{
  height: 100%;
  width:100%;
  background-color:#DEE791 ;
}
#head{
   background-color:#DEE791;
  height:15vh;
  width:30vw;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(2px);
  position: fixed;
  top:40vh;
  left:35vw;
  border: 0.2vw solid #FFD6BA;
  border-radius: 2vw;
}
#head1{
   background-color: rgba(255, 255, 255, 0.2);
  height:15vh;
  width:30vw;
  display: flex;
  justify-content: center;
  align-items: center;
 
  position: fixed;
  top:0vh;
  left:35vw;
  border: 0.2vw solid #FFD6BA;
  border-radius: 2vw;
}
input{
  height:7vh;
  width:15vw;
  font-size: 3vh;
   border: 0.5vh solid #FFD6BA;
  border-radius: 0.5vw;

}
#search{
  height:6vh;
  width:7vw;
  font-size: 3vh;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bolder;
  color:#5EABD6 ;
  background-color: white;
  border: 0.5vh solid #FFD6BA;
  border-radius: 0.5vw;
  transition: 0.2s ease-in;

}
p{
 position: fixed;
 top:60vh;
 left:44vw;
 font-size: 4vh;
}

.loading svg polyline {
  fill: none;
  stroke-width: 3;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.loading svg polyline#back {
  fill: none;
  stroke: #ff4d5033;
}

.loading svg polyline#front {
  fill: none;
  stroke: #ff4d4f;
  stroke-dasharray: 48, 144;
  stroke-dashoffset: 192;
  animation: dash_682 1.4s linear infinite;
}

@keyframes dash_682 {
  72.5% {
    opacity: 0;
  }

  to {
    stroke-dashoffset: 0;
  }
}
#search:hover{
  cursor: pointer;
  transform: scale(1.1);
}
.log-section {
  margin-top: 15vh;
  padding: 10px;
  background: #f4f4f4;
  border-radius: 8px;
}

.log-section h2 {
  margin-bottom: 10px;
}

.log-section ul {
  list-style-type: none;
  padding-left: 0;
}

.log-section li {
  margin: 5px 0;
}
